*,
*:after,
*:before {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  color: #fff;
  font-family: 'Roboto', sans-serif;
}

#root {
  width: 100%;
}

.app {
  /* height: 100vh;  */
  width: 100%;
  margin: 0 auto;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.overlay {
  background: rgba(0, 0, 0, 0.4);
  height: 100%;
}

.container {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 65%;
}

.toggle-display {
  display: flex;
  font-size: 1.5em;
  justify-content: space-between;
  width: 19%;
  font-weight: 100;
}

.toggle-display p {
  margin-bottom: 0.5em;
}
