*,
*:after,
*:before {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  background-color: crimson;
  color: #fff;
  font-family: 'Roboto', sans-serif;
}

.page-wrapper {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 65%;
}

#root {
  width: 100%;
}

.app {
  width: 100%;
}
