*,
*:after,
*:before {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  /* background-color: crimson; */
  color: #fff;
  font-family: 'Roboto', sans-serif;
}

.page-wrapper {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
}

#root {
  width: 100%;
}

.app {
  width: 100%;
  margin: 0 auto;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.container {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 65%;
}

.toggle-display {
  display: flex;
  font-size: 1.5em;
  justify-content: space-between;
  width: 17%;
}
