.current-weather {
  margin-top: 1.5rem;
  font-family: 'Roboto', sans-serif;
  width: 100%;
}

.current-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 55%;
  min-width: 30rem;
}

.current-weather h1 {
  font-size: 7.5rem;
  margin: 0;
  font-weight: 300;
}

.current-info h3 {
  font-size: 8.75rem;
  margin: 0;
  font-weight: 100;
}

.weather-icon {
  height: 4.5em;
}

.exp-high,
.exp-low {
  display: flex;
  align-items: center;
}

.arrow {
  height: 3em;
  color: #fff;
}

.high-temp,
.low-temp {
  margin-left: 7px;
  font-size: 3em;
  font-weight: 100;
}

.summary {
  margin: 0.5em 0;
  font-size: 1.5em;
}

@media only screen and (max-width: 550px) {
  .current-weather {
    font-size: 0.7rem;
  }

  .current-weather h1 {
    font-size: 6rem;
  }

  .current-info {
    min-width: 25em;
  }

  .current-info h3 {
    font-size: 5rem;
  }

  .card-container {
    flex-direction: row;
    justify-content: space-between;
    width: 70%;
  }
}
