.day-card {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.expected-temp {
  display: flex;
  justify-content: space-around;
}

.temp-low {
  opacity: 0.6;
  margin-left: 5px;
}

@media only screen and (max-width: 550px) {
  .day-card {
    flex-direction: row;
    justify-content: space-between;
    width: 90%;
  }

  .card-container {
    flex-direction: row;
    justify-content: space-between;
    width: 70%;
  }
}
